<div class="container">
  <div class="container--contacts" *ngFor="let contact of listContacts">
    <app-card>
      <div class="container--contact">
        <div class="container--contact-flag">
          <img *ngIf="contact.flag" [src]="contact.flag">
        </div>
        <div class="container--contact-address">
          <h2>
            Address
          </h2>
          <span>
            {{ contact.address }}
          </span>
          <span>
            {{ contact.address2 }}
          </span>

        </div>
        <div class="container--contact-contact">
          <h2>
            Contacts
          </h2>
          <span>
            {{ contact.tel }}
          </span>
          <span>
            {{ contact.mail }}
          </span>
        </div>
      </div>
    </app-card>
  </div>
</div>
