<div class="container">
  <!-- <img src="../../../assets/imagens/molas-removebg-preview.png" alt="" class="background--header"> -->
  <div class="container--menu">
    <div class="logo">
      <img src="./assets/imagens/logospring-removebg-preview.png" alt="" [routerLink]="['']">
    </div>
    <div class="buttons">
      <div class="item" [routerLink]="['products']">
        Products
      </div>
      <div class="item" [routerLink]="['contacts']">
        Contacts
      </div>
      <div class="translate" *ngIf="translations">
        <div class="translate--item" *ngFor="let item of translations">
          <img [ngClass]="{ 'selected': selectedTranslate(item) }" [src]="'./assets/bandeiras/' + item.img" (click)="selectTranslate(item)">
        </div>
      </div>
    </div>
  </div>
</div>
