<div class="container">
  <div class="container--card">
    <div class="container--card-title">
      <h2>
        {{ product.label }}
      </h2>
    </div>

    <!-- <div class="container--card-content">
      {{ product.description }}
    </div> -->
    <div class="container--card-footer">
      <div class="card-info" (click)="controlModal(true)">
        Detalhes
      </div>

      <div class="card-button">
        Verificar
      </div>
    </div>
  </div>
</div>

<div class="modal--container" [ngClass]="{'modal-close': !modal}" >

  <div class="modal--container-main">
    <div class="exit" (click)="controlModal(false)">
      X
    </div>

  </div>

</div>
