<div class="container">
  <div class="container--card">
    <div class="container--card-title">
      <h2>
        {{ product.label }}
      </h2>
    </div>

    <!-- <div class="container--card-content">
      {{ product.description }}
    </div> -->
    <div class="container--card-footer">
      <div class="card-info" (click)="controlModal(true)">
        Detalhes
      </div>

      <div class="card-button">
        Verificar
      </div>
    </div>
  </div>
</div>

<div class="modal--container" [ngClass]="{'modal-close': !modal}" >

  <div class="modal--container-main">
    <div class="header">
      <div class="exit" (click)="controlModal(false)">
        X
      </div>
      <div class="label">
        {{ product.label }}
      </div>
    </div>

    <div class="body">
      <p>
        {{ product.description }}
      </p>
      <div class="body--table">
        <div class="body--table-header">
          <div class="item" *ngFor="let item of product.table.header">
            {{ item }}
          </div>
        </div>
        <div class="body--table-body">
          <div class="row" *ngFor="let row of product.table.values">
            <div class="item" *ngFor="let item of row">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
