<div class="container">
  <div class="container--card">
    <div class="container--card-title">
      <h2>
        Grupo de maquina
      </h2>
    </div>

    <div class="container--card-content">
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
    </div>
    <div class="container--card-footer">
      <div class="card-info">
        Detalhes
      </div>

      <div class="card-button">
        Verificar
      </div>
    </div>
  </div>
</div>
