<div class="container">
  <div class="container--filter">
    <div class="container--filters">
      <div class="item-filter">
        <input type="text" name="label" #labelFilter (keyup)="filterProducts(labelFilter)">
      </div>
    </div>


  </div>
  <div class="container--products">
    <ng-container *ngIf="listProducts.length > 0">
      <div class="container--products-product" *ngFor="let product of listProducts">
        <app-card-products [product]="product"></app-card-products>
      </div>
    </ng-container>
  </div>
</div>
