/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,600&display=swap')
*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  width: 100vw
  min-height: 100vh

:root
  --gray-color: #f2f2f2
  --black-color: #000
  --red-color: #ce2b37
  --green-color: #009246
  --white-color: 	#ffffff
  --border-radius: 0.25rem !default
  --font-family: 'Nunito'
  --padding-margin: 20px
  --padding: 15px
